<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>create</servlet-name>
    <servlet-class>servlet.CreateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addFriend</servlet-name>
    <servlet-class>servlet.AddFriendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>removeFriend</servlet-name>
    <servlet-class>servlet.RemoveFriendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addComment</servlet-name>
    <servlet-class>servlet.AddCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>findComment</servlet-name>
    <servlet-class>servlet.FindCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>launchMapReduce</servlet-name>
    <servlet-class>servlet.LaunchMapReduceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getInformations</servlet-name>
    <servlet-class>servlet.GetInformationsSerlvet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>create</servlet-name>
    <url-pattern>/user/create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/user/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/user/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addFriend</servlet-name>
    <url-pattern>/user/addFriend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>removeFriend</servlet-name>
    <url-pattern>/user/removeFriend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addComment</servlet-name>
    <url-pattern>/comment/addComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>findComment</servlet-name>
    <url-pattern>/comment/findComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getInformations</servlet-name>
    <url-pattern>/user/getInformations</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>launchMapReduce</servlet-name>
    <url-pattern>/comment/launchMapReduce</url-pattern>
  </servlet-mapping>
</web-app>